<a href="https://colab.research.google.com/github/aryan802/bike-orders-data-cleaning/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Data Cleaning
In this section, we clean the `orders_bikes_dirty.csv` dataset:
- Remove unnecessary columns
- Handle missing values
- Standardize data types
- Remove duplicates

# 1. Mount Google Drive and Load Datasets
We begin by mounting Google Drive to access the data files. Then, we load the three Excel files into pandas DataFrames:
- **bikes.xlsx**: Contains details of bike products
- **bikeshops.xlsx**: Contains details of bike shops/customers
- **orders.xlsx**: Contains order details

Finally, we inspect the shape, columns, and first few rows of each dataset.

In [7]:
from google.colab import drive
drive.mount('/content/drive')
# !ls '/content/drive/My Drive/FDS-Project/data'
# import os
# print(os.getcwd())

import pandas as pd

# Load the three Excel files from the data folder
bikes = pd.read_excel("/content/drive/My Drive/FDS-Project/data/bikes.xlsx")
bikeshops = pd.read_excel("/content/drive/My Drive/FDS-Project/data/bikeshops.xlsx")
orders = pd.read_excel("/content/drive/My Drive/FDS-Project/data/orders.xlsx")

# Display shape and columns for each dataset
print("Bikes Dataset:")
print(bikes.shape)
print(bikes.columns)
print(bikes.head(), "\n")

print("Bike Shops Dataset:")
print(bikeshops.shape)
print(bikeshops.columns)
print(bikeshops.head(), "\n")

print("Orders Dataset:")
print(orders.shape)
print(orders.columns)
print(orders.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.12/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Bikes Dataset:
(97, 6)
Index(['bike.id', 'model', 'category1', 'category2', 'frame', 'price'], dtype='object')
   bike.id                           model category1   category2   frame  \
0        1         Supersix Evo Black Inc.      Road  Elite Road  Carbon
1        2        Supersix Evo Hi-Mod Team      Road  Elite Road  Carbon
2        3  Supersix Evo Hi-Mod Dura Ace 1      Road  Elite Road  Carbon
3        4  Supersix Evo Hi-Mod Dura Ace 2      Road  Elite Road  Carbon
4        5      Supersix Evo Hi-Mod Utegra      Road  Elite Road  Carbon

   price
0  12790
1  10660
2   7990
3   5330
4   4260

Bike Shops Dataset:
(30, 6)
Index(['bikeshop.id', 'bikeshop.name', 'bikeshop.city', 'bikeshop.state',
       'latitude', 'longitude'],
      dtype='object')
   bikeshop.id                 bikeshop.name bikeshop.city bikeshop.state  \
0            1  Pittsburgh Mountain Machines    Pittsburgh             PA
1            2      Ithaca Mountain Climbers        Ithaca             NY
2            3       Columbus Race Equipment      Columbus             OH
3            4                Detroit Cycles       Detroit             MI
4            5              Cincinnati Speed    Cincinnati             OH

    latitude  longitude
0  40.440625 -79.995886
1  42.443961 -76.501881
2  39.961176 -82.998794
3  42.331427 -83.045754
4  39.103118 -84.512020

Orders Dataset:
(15644, 7)
Index(['Unnamed: 0', 'order.id', 'order.line', 'order.date', 'customer.id',
       'product.id', 'quantity'],
      dtype='object')
   Unnamed: 0  order.id  order.line order.date  customer.id  product.id  \
0           1         1           1 2011-01-07            2          48
1           2         1           2 2011-01-07            2          52
2           3         2           1 2011-01-10           10          76
3           4         2           2 2011-01-10           10          52
4           5         3           1 2011-01-10            6           2

   quantity
0         1
1         1
2         1
3         1
4         1

# 2. Merge the Datasets
We merge the three datasets to form a single combined DataFrame:
- **orders** and **bikes** merged on `product.id` and `bike.id`
- Result merged with **bikeshops** on `customer.id` and `bikeshop.id`

Also, we drop unnecessary columns like `Unnamed: 0` if present.

In [16]:
# Merge Orders with Bikes
orders_bikes = orders.merge(bikes, left_on='product.id', right_on='bike.id', how='left')

# Merge the above result with Bike Shops
combined_df = orders_bikes.merge(bikeshops, left_on='customer.id', right_on='bikeshop.id', how='left')

combined_df = combined_df.drop(columns=['Unnamed: 0'])


print("Combined Dataset Shape:", combined_df.shape)
combined_df.head(10)

Combined Dataset Shape: (15644, 18)

,order.id,order.line,order.date,customer.id,product.id,quantity,bike.id,model,category1,category2,frame,price,bikeshop.id,bikeshop.name,bikeshop.city,bikeshop.state,latitude,longitude
0,1,1,2011-01-07,2,48,1,48,Jekyll Carbon 2,Mountain,Over Mountain,Carbon,6070,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881
1,1,2,2011-01-07,2,52,1,52,Trigger Carbon 2,Mountain,Over Mountain,Carbon,5970,2,Ithaca Mountain Climbers,Ithaca,NY,42.443961,-76.501881
2,2,1,2011-01-10,10,76,1,76,Beast of the East 1,Mountain,Trail,Aluminum,2770,10,Kansas City 29ers,Kansas City,KS,39.114053,-94.627464
3,2,2,2011-01-10,10,52,1,52,Trigger Carbon 2,Mountain,Over Mountain,Carbon,5970,10,Kansas City 29ers,Kansas City,KS,39.114053,-94.627464
4,3,1,2011-01-10,6,2,1,2,Supersix Evo Hi-Mod Team,Road,Elite Road,Carbon,10660,6,Louisville Race Equipment,Louisville,KY,38.252665,-85.758456
5,3,2,2011-01-10,6,50,1,50,Jekyll Carbon 4,Mountain,Over Mountain,Carbon,3200,6,Louisville Race Equipment,Louisville,KY,38.252665,-85.758456
6,3,3,2011-01-10,6,1,1,1,Supersix Evo Black Inc.,Road,Elite Road,Carbon,12790,6,Louisville Race Equipment,Louisville,KY,38.252665,-85.758456
7,3,4,2011-01-10,6,4,1,4,Supersix Evo Hi-Mod Dura Ace 2,Road,Elite Road,Carbon,5330,6,Louisville Race Equipment,Louisville,KY,38.252665,-85.758456
8,3,5,2011-01-10,6,34,1,34,Synapse Disc 105,Road,Endurance Road,Aluminum,1570,6,Louisville Race Equipment,Louisville,KY,38.252665,-85.758456
9,4,1,2011-01-11,22,26,1,26,Synapse Carbon Disc Ultegra D12,Road,Endurance Road,Carbon,4800,22,Ann Arbor Speed,Ann Arbor,MI,42.280826,-83.743038

# 3. Inspect Combined Dataset
Check the shape, data types, and column names of the combined dataset to understand its structure before proceeding.

In [28]:
print(combined_df.shape)
print(combined_df.dtypes)
print(combined_df.columns.tolist())

(15644, 18)
order.id                   int64
order.line                 int64
order.date        datetime64[ns]
customer.id                int64
product.id                 int64
quantity                   int64
bike.id                    int64
model                     object
category1                 object
category2                 object
frame                     object
price                      int64
bikeshop.id                int64
bikeshop.name             object
bikeshop.city             object
bikeshop.state            object
latitude                 float64
longitude                float64
dtype: object
['order.id', 'order.line', 'order.date', 'customer.id', 'product.id', 'quantity', 'bike.id', 'model', 'category1', 'category2', 'frame', 'price', 'bikeshop.id', 'bikeshop.name', 'bikeshop.city', 'bikeshop.state', 'latitude', 'longitude']

# 4. Save Combined Dataset as CSV
Export the combined dataset into a CSV file (`orders_bikes.csv`) for further manipulation.

In [29]:
orders_bikes.to_csv('/content/drive/My Drive/FDS-Project/data/orders_bikes.csv', index=False)

# 5. Check Data Quality Issues
Before introducing errors for demonstration, let's check:
- Missing values count
- Summary statistics
- Duplicate row count

In [30]:
orders_bikes.info()
orders_bikes.describe()
orders_bikes.isnull().sum()
orders_bikes.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15674 entries, 0 to 15673
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order.id     15674 non-null  int64
 1   order.line   15674 non-null  int64
 2   order.date   15674 non-null  datetime64[ns]
 3   customer.id  15674 non-null  int64
 4   product.id   15674 non-null  int64
 5   quantity     15674 non-null  int64
 6   bike.id      15674 non-null  int64
 7   model        15674 non-null  object
 8   category1    15674 non-null  object
 9   category2    15674 non-null  object
 10  frame        15674 non-null  object
 11  price        15674 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(4)
memory usage: 1.4+ MB

np.int64(30)

# 6. Create Dirty Dataset for Project Demonstration
To demonstrate data cleaning techniques, we intentionally introduce common data quality issues:
- Insert missing values (`?`) in **category1**, **price**, and **order.date**
- Add `unknown` values in **price**
- Duplicate some rows
- Introduce extreme outliers in **quantity** (set to 999) and **price** (set to 100000)

Finally, save this dirty dataset as `orders_bikes_dirty.csv`.

In [32]:
import numpy as np

# Add '?' in category1
orders_bikes.loc[np.random.choice(orders_bikes.index, 50), 'category1'] = '?'

# Add '?' in price
orders_bikes.loc[np.random.choice(orders_bikes.index, 30), 'price'] = '?'

# Add '?' in order.date
orders_bikes.loc[np.random.choice(orders_bikes.index, 20), 'order.date'] = '?'

# Sample 10 random rows and append to dataframe
duplicates = orders_bikes.sample(10)
orders_bikes = pd.concat([orders_bikes, duplicates], ignore_index=True)

# Sample 10 random rows and append to dataframe
duplicates = orders_bikes.sample(10)
orders_bikes = pd.concat([orders_bikes, duplicates], ignore_index=True)

orders_bikes.loc[np.random.choice(orders_bikes.index, 20), 'price'] = 'unknown'

# Extreme quantity outliers
orders_bikes.loc[np.random.choice(orders_bikes.index, 10), 'quantity'] = 999

# Extreme price outliers
orders_bikes.loc[np.random.choice(orders_bikes.index, 10), 'price'] = 100000

orders_bikes.to_csv('/content/drive/My Drive/FDS-Project/data/orders_bikes_dirty.csv', index=False)

/tmp/ipython-input-1494036031.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '?' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  orders_bikes.loc[np.random.choice(orders_bikes.index, 30), 'price'] = '?'
/tmp/ipython-input-1494036031.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '?' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  orders_bikes.loc[np.random.choice(orders_bikes.index, 20), 'order.date'] = '?'

# 7. Load the Dirty Dataset
Read the newly created `orders_bikes_dirty.csv` file to start the cleaning process.

In [33]:
orders_bikes = pd.read_csv('/content/drive/My Drive/FDS-Project/data/orders_bikes_dirty.csv')
print(orders_bikes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15694 entries, 0 to 15693
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order.id     15694 non-null  int64
 1   order.line   15694 non-null  int64
 2   order.date   15694 non-null  object
 3   customer.id  15694 non-null  int64
 4   product.id   15694 non-null  int64
 5   quantity     15694 non-null  int64
 6   bike.id      15694 non-null  int64
 7   model        15694 non-null  object
 8   category1    15694 non-null  object
 9   category2    15694 non-null  object
 10  frame        15694 non-null  object
 11  price        15694 non-null  object
dtypes: int64(6), object(6)
memory usage: 1.4+ MB
None

# 8. Handle Missing Values and Data Types
Steps:
- Replace `?` and `unknown` with `NaN`
- Convert `order.date` to datetime (invalid values become NaT)
- Convert **price** to numeric and fill missing values with the median price
- Fill missing **category1** with 'Unknown'
- Fill missing dates with the median date

In [34]:
import numpy as np

# Replace '?' and 'unknown' with NaN
orders_bikes.replace({'?': np.nan, 'unknown': np.nan}, inplace=True)

# Convert order.date to datetime (errors='coerce' will turn invalid values into NaT)
orders_bikes['order.date'] = pd.to_datetime(orders_bikes['order.date'], errors='coerce')

# Fill missing values
orders_bikes['price'] = pd.to_numeric(orders_bikes['price'], errors='coerce')  # Convert to numeric
orders_bikes['price'].fillna(orders_bikes['price'].median(), inplace=True)
orders_bikes['category1'].fillna('Unknown', inplace=True)
orders_bikes['order.date'].fillna(orders_bikes['order.date'].median(), inplace=True)  # median date

/tmp/ipython-input-1913598624.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  orders_bikes['price'].fillna(orders_bikes['price'].median(), inplace=True)
/tmp/ipython-input-1913598624.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  orders_bikes['category1'].fillna('Unknown', inplace=True)
/tmp/ipython-input-1913598624.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  orders_bikes['order.date'].fillna(orders_bikes['order.date'].median(), inplace=True)  # median date

# 9. Remove Duplicates
Drop any fully duplicated rows from the dataset.

In [35]:
orders_bikes.drop_duplicates(inplace=True)

# 10. Cap Outliers Using IQR Method
Cap extreme values in **quantity** and **price** using the Interquartile Range (IQR) method:
- Compute Q1, Q3, and IQR
- Replace values above the upper limit with the upper limit

In [36]:
# Cap extreme outliers using IQR method
Q1 = orders_bikes['quantity'].quantile(0.25)
Q3 = orders_bikes['quantity'].quantile(0.75)
IQR = Q3 - Q1
upper_limit_q = Q3 + 1.5 * IQR
orders_bikes['quantity'] = np.where(orders_bikes['quantity'] > upper_limit_q, upper_limit_q, orders_bikes['quantity'])

Q1_p = orders_bikes['price'].quantile(0.25)
Q3_p = orders_bikes['price'].quantile(0.75)
IQR_p = Q3_p - Q1_p
upper_limit_p = Q3_p + 1.5 * IQR_p
orders_bikes['price'] = np.where(orders_bikes['price'] > upper_limit_p, upper_limit_p, orders_bikes['price'])

# 11. Save the Cleaned Dataset
Export the cleaned data as `orders_bikes_cleaned.csv` for further analysis (EDA).

In [37]:
orders_bikes.to_csv('/content/drive/My Drive/FDS-Project/data/orders_bikes_cleaned.csv', index=False)